* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #171100;
    --secondary-color: #FFB900;
    --bg-color: #FFFCF4;
    --font-heading: 'Sen', sans-serif
}

/* === COMMON === */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border-radius: 24.5px;  
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}

/* === HEADER === */
.header {
    background-color: var(--bg-color);
    z-index: 1;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
    margin-right: 49px;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    font-weight: 400;
    color: #5F5B53;
    padding: 8px 21px;
    position: relative;
}

.header .nav a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .sign-up-btn:hover {
    opacity: 0.9;
}


/* === HERO === */

.hero {
    padding: 56px 0 65px;
    background-color: var(--bg-color);
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 24px;
}

.hero .hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero .hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 52%;
    padding-left: 130px;
}

.hero .content-block .heading {
    max-width: 470px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 22px;
    padding-top: 64px;
}

.hero .content-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .content-block .desc + .desc {
    margin-top: 8px;
}

.hero .content-block strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding:  0 8px 0 28px;
}

.hero .content-block strong:first-child {
    padding-left: 0;
}

.hero .content-block .watch-video {
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.hero .content-block .watch-video span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block .btn {
    min-width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 64px;
    border-radius: 32px;
}

.hero .content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .cta-group {
    display: flex;
    gap: 28px;
    margin-bottom: 48px;
    margin-top: 38px;
    align-items: center;
}


/* === COURSES === */
.courses {
    padding: 200px 0;
}

.courses-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-top .info {
    max-width: 458px;
}
.courses-top .info .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}

.courses-top .info .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.courses-top .control {
    display: flex;
    gap: 18px;
}
.courses-top .control .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.courses-top .control .control-btn:hover {
    opacity: 0.9;
}

.courses-top .control .control-btn-left {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}

.courses-top .control .control-btn-right {
    background: var(--secondary-color);
    border: none;
}


.courses-bottom {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.courses-bottom .item {
    width: 370px;
    height: 466px;
}

.courses-bottom .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-bottom .info {
    padding: 16px 22px 22px 22px;
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.courses-bottom .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.courses-bottom .head .title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-bottom .head .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--secondary-color);
}

.courses-bottom .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    margin-bottom: 12px;
}

.courses-bottom .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-bottom .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.courses-bottom .foot .btn {
    font-size: 1.4rem;
    height: 50px;
    border: none;
    border-radius: 25px;
}


/* === TESTIMONIAL === */

.testimonial {
    background-color: #2E2100;
    color: #FFFFFF;
}

.testimonial .list {
    display: flex;
    overflow: hidden;
}

.testimonial .item {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    flex-shrink: 0;
    width: 100%;
}

.testimonial .info {
    width: 159px;
}
.testimonial .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 18px;
}

.testimonial .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
    margin-bottom: 4px;
}

.testimonial .info .desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.dots {
    display: flex;
    margin-top: 28px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}

.dot.active {
    background: #FFB900;
    cursor: default;
}

.testimonial .content {
    width: 65.81%;
}

.testimonial .content .desc {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
    transform: translateX(30px);
}


/* === FEATURES === */
.features {
    padding-top: 200px;
}

.features + .features {
    padding-bottom: 200px;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features-left {
    width: 48.71%;
    height: 438px;
    position: relative;
}

.features-left img:first-child {
    position: absolute;
    left: 0;
    bottom: 0;

}
.features-left img:last-child {
    position: absolute;
    right: 0;
    top: 0;
}

.features-right {
    width: 40.17%;
}

.features .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}

.features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.features .desc + .desc {
    margin-top: 16px;
}

.features .btn {
    width: 137px;
    margin-top: 32px;
    border-radius: 26px;
}

.features-right img {
    position: relative !important;
    width: 470px;
    height: 440px;
}


/* === BLOG === */
.blog {
    padding-top: 96px;
    background-color: #FFFCF4;
    padding-bottom: 140px;
}

.blog .blog-top .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
    margin-bottom: 16px;
}

.blog .blog-top .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    max-width: 448px;
    text-align: center;
    margin: 0 auto 55px auto;
}

.blog-list {
    display: flex;
    gap: 30px;
    overflow-x: hidden;
}

.blog-list .item {
    min-width: 31.62%;
}

.blog-list .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-list .info {
    padding: 20px 20px 28px 20px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.blog-list .info .date {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    position: relative;
    margin-bottom: 25px;
}

.blog-list .info .date::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #FFB900;
    border-radius: 50%;
}

.blog-list .info .date::after {
    content: "";
    width: 160px;
    height: 1px;    
    background: #E2DFDA;
    border-radius: 0.5px;
    position: absolute;
    bottom: -12px;
}

.blog-list .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
    margin-bottom: 12px;
}

.blog .dots {
    margin-top: 38px;
    justify-content: center;
}
